*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    background-color: #ffffff;
}
li{
    list-style: none;
}
.head{
    display: flex;
    margin-top: 30px;
}
.scool{
    margin-left: 130px;
    width: 143pt;
}
.space {
    width: 40%;
    display: flex;
    margin-left: 40%;
}
.join_btn{
    cursor: pointer;
    width: 28%;
    padding: 13px;
    margin-left: 80px;
    margin-top: -10px;
    background-color: #F3164D;
    color: #ffffff;
    border-radius: 7px;
    border: none;
    outline: none;
}
.window_sec{
    margin-left: 130px;
 }
.window_img{
    margin-top: 50px;
    width: 60%;
    height: 60vh;
    border-radius: 20px;
}
.product{
    position: relative;
    background-color: #ffff;
    margin-top: -30px;
    box-shadow: 0px 0px 20px #bebebe;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
}
.iphone{
    float: left;
    font-size: 1rem;
}
.rs{
    margin-left: 8rem;
    text-decoration: line-through;
    font-size: 0.9rem;
}
.rs-2{
    margin-left: 20px;
    font-size: 1rem;
}
.line{
    display: flex;
    margin-top: 30px;
}
.line-2{
    width: 100px;
    height: 2px;
    background-color: #F3164D;
}
.apply{
    margin-left: 10rem;
    margin-top: -10px;
    text-decoration: underline;
    font-size: 0.9rem;
}
.apply a{
    cursor: pointer;
    text-decoration: none;
    color: #F3164D;
}
.list ul{
    display: flex;
    margin: 20px;
    font-size: 0.8em;
}
.list li{
    margin: 20px;
    list-style: none;
}
.list .book{
    cursor: pointer;
    width: 20%;
    padding: 10px;
    float: right;
    margin-top: -4rem;
    background-color: #F3164D;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #ffffff;
}
.left-side{
    float: right;
    margin-right: 8rem;
    margin-top: 50px;
    background-color: #ffff;
    box-shadow: 0px 0px 20px #bebebe;
    width: 25%;
    /* height: 20%; */
    border-radius: 20px;
    padding: 30px;
}
.profile-pi{
    width: 80%;
    height: 39vh;
    margin-left: 30px;
}
.name{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    color: #F3164D;
}
.serial{
    text-align: center;
    margin-top: 20px;
}
.left-side-p{
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}
.left-side ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.left-side ul li{
    background-color: #F2F4F7;
    list-style: none;
    margin: 5px;
    margin-top: 30px;
    font-size: 0.5rem;
    font-weight: bold;
    font-weight: 800;
    padding: 8px;
}
.descp{
    background-color: #ffff;
    margin-top: 20px;
    box-shadow: 0px 0px 20px #bebebe;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
}
.brief{
    font-size: 1.2rem;
}
.descp_p{
    margin-top: 20px;
    font-size: 1rem;
}
.digital{
    margin-top: 20px;
}
.tak{
    float: left;
    background-color: #ffff;
    box-shadow: 0px 0px 20px #bebebe;
    width: 25%;
    border-radius: 20px;
    padding: 10px;
}
.key{
    text-align: center;
    margin-top: 20px;
}
.line-3{
    margin: 15px auto;
    width: 130px;
    height: 2px;
    background-color: #F3164D;
}
.tak ul{
    margin-top: 15px;
    padding: 15px;
}
.tak ul li{
    margin: 15px;
    font-size: 0.9em;
    list-style: none;
}
.tak ul li .curcle{
    float: left;
    margin-top: 3px;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    background-color: #F3164D;
    border-radius: 50%;
}
.tak ul li p{
        margin-left: 10px;
        padding: 2.5px;
        line-height: 1.5;
}
.overview{
    float: right;
    margin-right: 8.2rem;
    background-color: #ffff;
    box-shadow: 0px 0px 20px #bebebe;
    width: 62%;
    /* height: 23vw; */
    border-radius: 20px;
    /* padding: 10px; */
}
.course{
    margin-top: 30px;
    text-align: center;
}
.over_p{
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
}
.over-list{
    margin-top: 20px;
    margin-left: 0px;
    padding: 30px;
    line-height: 1.5;
}
iframe{
    float: left;
    margin-top: 20px;
    border-radius: 20px;
    width: 700px;
    height: 370px;
}
.video-list{
    float: right;
    margin-top: 20px;
    margin-right: 9rem;
    background-color: #ffff;
    box-shadow: 0px 0px 20px #bebebe;
    width: 28%;
    height: 370px;
    border-radius: 20px;
    padding: 10px;
}