*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    background-color: #ffffff;
}
li{
    list-style: none;
}
.head{
    display: flex;
    margin-top: 30px;
}
.scool{
    margin-left: 130px;
    width: 143pt;
}
.space {
    width: 40%;
    display: flex;
    margin-left: 40%;
}
.join_btn{
    cursor: pointer;
    width: 28%;
    padding: 13px;
    margin-left: 80px;
    margin-top: -10px;
    background-color: #F3164D;
    color: #ffffff;
    border-radius: 7px;
    border: none;
    outline: none;
}